extends layout

block content
  div.container
    div.row
      p 
      br
      br
      div(class="col-lg-12")
        div(class="col-lg-7 offset-lg-2")
          h1(class="offset-lg-3") What's Cooking
          ul
            li Crafting Online Math Experiences from Nigeria to Pakistan
            li Digital disaster relief in Developing Countries.
            li Web services for developing world manufacturing firms.
          p If any of these interest you, please email me at timothyzchu [at] gmail [dot] com. I would love to connect and chat, even if you don't want to work on these projects directly!

          

//-          img(class="fit", src="images/roni-edwin-2.jpg")
//    div.content
//      table.table.table-striped
//        thead
//          tr
//            th Table
//            th Heading
//        tbody
//          tr
//            td Blah
//            td Test
//          tr
//            td Hello
//            td World
//      div(class="col-lg-4 col-md-6")
//        img(class="fit", src="images/novid2.jpeg")
  div.footer
