extends layout

block content
  div.container
    div.row
      div(class="col-lg-6 col-md-10 offset-lg-3 offset-md-1")
        br
        h1(style="text-align:center") NOVID Pandemic Radar App
        h4  Building the first pandemic radar app in the world, in use by major US Universities and cities.
        img(class="fit", src="images/covid.jpg")
        p(class="center-text") Under construction. Check back soon!
        img(class="fit", src="images/novid2.jpeg")
  div.footer
