extends layout

block content
  div.container
    div.row
      div(class="col-lg-6 col-md-10 offset-lg-3 offset-md-1")
        br
        h1(style="text-align:center") Using math to predict COVID in February 2020.
        h4 Used exponentials to accurately predict the evolution of the COVID pandemic in New York City.
        img(class="fit", src="images/mise-girl.jpg")
  div.footer
