extends layout

block content
  div.container
    div.row
      div(class="col-lg-6 col-md-10 offset-lg-3 offset-md-1")
        br
        h1(style="text-align:center") Projecting COVID 
        br
        h4(class="center-text")  Coming soon!
  div.footer
