extends layout

block content
  h1(style="text-align:center") Click on a Project to Learn More!
  div.container
    div.row
      div(class="col-lg-5 col-md-6 offset-lg-1")
        a(href="ghana-math")
          img(class="fit", src="images/roni-edwin-2.jpg")
        img(class="fit", src="images/clinton-trump.jpg")
        img(class="fit", src="images/covid.jpg")
        img(class="fit", src="images/ethiopia-food.png")
      div(class="col-lg-5 col-md-6")
        a(href="mask-banao")
          img(class="fit", src="images/viccaji-2.png")
        img(class="fit", src="images/code-woman.jpg")
        img(class="fit", src="images/alphasheet-python.png")
      div(class="col-lg-5 col-md-6")

//    div.content
//      table.table.table-striped
//        thead
//          tr
//            th Table
//            th Heading
//        tbody
//          tr
//            td Blah
//            td Test
//          tr
//            td Hello
//            td World
//      div(class="col-lg-4 col-md-6")
//        img(class="fit", src="images/novid2.jpeg")
  div.footer
