extends layout

block content
  div.container
    div.row
      p 
      br
      br
      div(class="col-lg-5")
        img(class="fit" src="images/mise-tim3.png")
      div(class="col-lg-5")
        h4 Hi, I am Tim, a graduate from MIT who will soon hold a PhD from Carnegie Mellon in computer science.  
        p I'm using my skills to make a difference around the world, whether that's speaking with governments about COVID or teaching STEM to talented Africans.  If these types of projects interest you, I'd love to work with you!

//-          img(class="fit", src="images/roni-edwin-2.jpg")
//    div.content
//      table.table.table-striped
//        thead
//          tr
//            th Table
//            th Heading
//        tbody
//          tr
//            td Blah
//            td Test
//          tr
//            td Hello
//            td World
//      div(class="col-lg-4 col-md-6")
//        img(class="fit", src="images/novid2.jpeg")
  div.footer
