extends layout

block content
  div.container
    div.row
      p 
      br
      br
      //div(class="col-lg-2 col-md-6 offset-md-3 offset-lg-0")
      div(class="col-lg-3 col-md-5")
        img(class="center-me fit" src="images/tim-tree-small.png")
      div(class="col-lg-7 col-md-7")
        h1 Timothy Chu
        //h4(class="text-center") Computer PhD and education consultant.
        h4 A hard-working computer PhD, ex-Google engineer, and MIT graduate.
        p(style="font-size:20px") I'm working hard to make a difference around the world. Some stuff I've done includes working with governments on COVID solutions, and teaching math/CS to bright young Africans. If this kind of work interests you, I would love to chat.

//-          img(class="fit", src="images/roni-edwin-2.jpg")
//    div.content
//      table.table.table-striped
//        thead
//          tr
//            th Table
//            th Heading
//        tbody
//          tr
//            td Blah
//            td Test
//          tr
//            td Hello
//            td World
//      div(class="col-lg-4 col-md-6")
//        img(class="fit", src="images/novid2.jpeg")
  div.footer
