extends layout

block content
  div.container
    div.row
      p 
      br
      br
      div(class="col-lg-4 col-md-6 offset-lg-1")
        img(class="fit" src="images/mise-tim3.png")
      div(class="col-lg-6 col-md-6")
        h4 Hi, I am Tim, a graduate from MIT who will soon hold a PhD from Carnegie Mellon in computer science. 
        p I'm fascinated with using my skills to make a difference around the world, whether that's speaking with governments about COVID or building predictive models of US politics.

//-          img(class="fit", src="images/roni-edwin-2.jpg")
//    div.content
//      table.table.table-striped
//        thead
//          tr
//            th Table
//            th Heading
//        tbody
//          tr
//            td Blah
//            td Test
//          tr
//            td Hello
//            td World
//      div(class="col-lg-4 col-md-6")
//        img(class="fit", src="images/novid2.jpeg")
  div.footer
