extends layout

block content
  div.container
    div.row
      p 
      br
      br
      //div(class="col-lg-2 col-md-6 offset-md-3 offset-lg-0")
      div(class="col-lg-3 col-md-5" style="margin-bottom:50px; max-height:250px")
        img(class="center-me fit" src="images/tim-hair-small.png")
      div(class="col-lg-7 col-md-7")
        h1 Timothy Chu
        //h4(class="text-center") Computer PhD and education consultant.
        h4 MIT grad, ex-Google engineer, and soon-to-be computer PhD.
        p I'm using my skills to make a difference around the world, whether that's promoting mask campaigns abroad or teaching STEM to talented students in Africa. If these projects interest you, I'd love to chat! 
        p You can email me at timothyzchu [at] gmail [dot] com.
      //
        div(class="col-lg-3 col-md-5")
          br
          h1(class="text-center") About Me
        div(class="col-lg-7 col-md-7")
          h3 Timothy Chu is a soon-to-be computer PhD with years of experience building projects around the world.
          p He has spoken with governments about COVID interventions, taught STEM to talented Africans, and introduced mask campaigns in dense developing countries. During the day, he works on computer science research at the intersection of geometry and machine learning.

//-          img(class="fit", src="images/roni-edwin-2.jpg")
//    div.content
//      table.table.table-striped
//        thead
//          tr
//            th Table
//            th Heading
//        tbody
//          tr
//            td Blah
//            td Test
//          tr
//            td Hello
//            td World
//      div(class="col-lg-4 col-md-6")
//        img(class="fit", src="images/novid2.jpeg")
  div.footer
