extends layout

block content
  div.container
    div.row
      div(class="col-lg-8 offset-lg-2")
        h1(style="text-align:center") Masks for All in Pakistan (#[a(href="www.maskbanao.com") www.maskbanao.com])
        br
        h3(style="text-align:center") Raising Pakistan's mask prevalence from zero to widespread.
        //h3(style="text-align:center") A Mask Creation and Wearing Campaign in Pakistan.
        //img(class="fit center-me", style="width:64%", src="images/maskbanao1.png")
        img(class="fit center-me" style="width:65%", src="images/viccaji-2.png")
        br
        p MaskBanao is a project built by a small group of students aiming to bring Pakistan's mask-wearing prevalence from zero to widespread.  When none of Pakistan's 220 million people were wearing a mask, MaskBanao partnered with Pakistan's provincial governors and famous celebrities to promote universal mask wearing.
        p What started out as some Pakistani friends and I discussing COVID in a dorm room, grew to be a mask making and wearing campaign that included dozens of designers, artists, celebrities, government officials, and web developers from Pakistan to the Philippines to Croatia.
        // When we started, no one in Pakistan wore a mask. What started as a small idea grew into a team of over 35 students and professionals from 8 different countries.   
      div(class="col-lg-4 col-md-6 offset-lg-2" style="margin-bottom:1cm")
        img(class="fit", style="height: 450px", src="images/omar.jpg")
        p 
          strong Ayesha Omar is one of the most famous actresses in Pakistan. 
          span In this #[a(href="https://www.youtube.com/watch?v=t4lGktLsKm0&ab_channel=AyeshaOmarOfficial") video], she partners with MaskBanao to show Pakistanis how to make a homemade mask.
      div(class="col-lg-4 col-md-6")
        img(class="fit", style="height: 450px", src="images/kiani.jpg")
        br
        p 
          strong Hadiqa Kiani is Pakistan's first female Goodwill ambassador to the United Nations. 
          span In this #[a(href="https://www.facebook.com/watch/?v=233459321239553") video] produced with Maskbanao, she urges Pakistanis to wear masks.
      div(class="col-lg-8 offset-lg-2")

        p Our mission was to educate people all over Pakistan to save lives by creating masks at home. A simple mask can be made from a T-shirt. 
        br
      iframe(class="col-lg-8 offset-lg-2", height="350vh", src="https://www.youtube.com/embed/t4lGktLsKm0")
      div(class="col-lg-8 offset-lg-2")
        strong Pakistani actress Ayesha Omar, in collaboration with MaskBanao, teaches her 4.5 million instagram followers how to make a mask from a T-shirt.
      div(class="col-lg-8 offset-lg-2" style="margin-top: 1cm")
        p Besides for celebrity advocacy, we also discussed COVID strategy with Pakistani governors. By reaching out to our distant connections, our small team arranged a meeting in mid-April 2020 with the governor of Pakistan's most populous province to advise him on coronavirus policy. We later worked with more government officials, including technology advisers to the Prime Minister of Pakistan. 
        p Due to mask shortages, we created and delivered over 120,000 cloth masks to citizens of Pakistan's largest city.  MaskBanao was featured in Pakistan's largest #[a(href="https://images.dawn.com/news/1185249") newspapers], including BBC Urdu. Our Instagram was followed by over 10,000 users.
        br
        strong Learn more about us at #[a(href="https://www.maskbanao.com") www.maskbanao.com].
        br
        br
        h3(class="center-text") Get Involved
        p MaskBanao is no longer active at the time of writing. However, if you would like to learn about similar, ongoing global initiatives, please email me #[a(href="mailto:timothyzchu@gmail.com") timothyzchu [at] gmail [dot] com] to have a friendly chat!
        img(class="fit center-me", style="width:70%", src="images/maskbanao3.png")
        br
        br
        br
  div.footer
//-        img(class="fit", src="images/maskbanao1.png")
//-        img(class="fit", src="images/mask-delivery.jpeg")
//-        On June 16, MaskBanao delivered a thousand masks to crowded areas of Pakistan's largest city.
//-        p These alumni each credit MISE for their success, and for their acceptance into college in the United States. Other alums have gone on to work at e-commerce startups in Zimbabwe, win scholarships at MIT, work at Google, and more.
//-        p Together with our friends, we built a professional #[a(href="https://www.maskbanao.com") website] from scratch in 8 hours demonstrating the dangers of COVID, and instructing people how to make masks at home. Since Pakistan is a textile country, there would be lots of raw cloths for home-made masks. We named our team #[a(href="https://www.maskbanao.com") MaskBanao], meaning Masks for All in the Pakistani language Urdu.
//-        br
//-        img(class="fit", src="images/imran-ismail.jpg")
//-        strong Imran Ismail is the governor of one of the largest provinces in Pakistan, which includes the capital city of Karachi. In mid-April 2020, he consulted with our team about COVID policy in his province.  
//-        span He was interested in understanding the progress of COVID in his province. (Stock photo taken from internet)
//-        img(class="fit", src="images/maskbanao-dawn2.png")
//-        strong MaskBanao was featured in #[a(href="https://images.dawn.com/news/1185249") Dawn], the largest English newspaper in Pakistan.
//-        h2 Retrospective.
//-        p One thing I learned is that in a time of crisis, even small folks like my friends and I can do a lot to help. 
//-        img(class="fit", src="images/maskbanao2.png")
//-        p Turns out, the first wave of COVID missed Pakistan (this is when we were most active). Then the Delta variant came and Pakistan had a lot of trouble. Lesson for next time? Advocacy is important, but so is timing.
//-        p Today, cloth masks are recommended only when medical masks are not available, a situation that certainly applied to Pakistan in early 2020. Medical masks, if available, are considered superior to cloth ones.
//-        p Our small team was not very well connected. We were just college students. We didn't have any serious influence in Pakistan, except for one team member was born there. But what we did have was the willingness to put in 16 hour days for months on end to make this project happen. Given the unprecedented situation, we did all we could to help out.
//-        br
//-        h4 
//-        p In April 2020, COVID was changing the world as we knew it. When the lives of 220 million Pakistanis were at stake, no one in Pakistan was wearing a mask. Pakistan's has a hundred times fewer hospital beds than the USA.
//-        p With potential death impending, a group of students including myself made it our mission to make mask-making the new normal in Pakistan. We strove to do as much as we could to save lives amidst a global pandemic.
//-        p MaskBanao is a social initiative whose mission was to educate people all over Pakistan to create and wear masks at home. A simple mask can be made from a T-shirt.
