extends layout

block content
  div.container
    div.row
      div(class="col-lg-6 col-md-10 offset-lg-3 offset-md-1")
        h1(style="text-align:center") Masks Advocacy in Pakistan (#[a(href="www.maskbanao.com") www.maskbanao.com])
        br
        img(class="fit", src="images/viccaji.png")
        strong Pakistani songwriter Zoe Viccaji urges Pakistanis to wear masks, via our mask advocacy project.
        br
        br
        p In April of 2020, a friend of mine from MIT and I realized that COVID was likely to hit Pakistan very hard. Pakistan is an incredibly dense country with over 200 million people, with a capital city five times more crowded than New York. No one in the country was taking COVID seriously at the time.  No one wore a mask.
        p We formed a team dedicated to promoting masks in Pakisan, and called ourselves #[a(href="https://www.maskbanao.com") MaskBanao].  Within weeks, we produced mask advocacy videos with Pakistani celebrities including Hadiqa Kiani and Ayesha Omar.
      div(class="col-lg-3 col-md-5 offset-lg-3 offset-md-1")
        img(class="fit", src="images/kiani.jpg")
        strong Hadiqa Kiani is the first woman in Pakistan appointed as a Goodwill ambassador to the UN. In this #[a(href="https://www.facebook.com/watch/?v=233459321239553") video] produced with Maskbanao, she urges Pakistanis to wear masks.
      div(class="col-lg-4 col-md-5")
        img(class="fit", src="images/omar.jpg")
        strong Ayesha Omar is the highest paid actress in all of Pakistan. In this #[a(href="https://www.youtube.com/watch?v=t4lGktLsKm0&ab_channel=AyeshaOmarOfficial") video], she partners with our team to show Pakistanis how to make a homemade mask.
      br
      br
      iframe(class="col-lg-6 col-md-10 offset-lg-3 offset-md-1", height="350vh", src="https://www.youtube.com/embed/t4lGktLsKm0")
      div(class="col-lg-6 col-md-10 offset-lg-3 offset-md-1")
        strong Ayesha Omar, in collaboration with MaskBanao, teaches her 4.5 million instagram followers how to make a mask from a T-shirt.
      div(class="col-lg-6 col-md-10 offset-lg-3 offset-md-1" style="margin-top: 1cm")
        p Within five days of forming our team, our small team met with the governor of Pakistan's most populous province to advise him on coronavirus policy. We worked with government officials from all areas, including technology advisers to the Prime Minister of Pakistan.
        img(class="fit", src="images/imran-ismail.jpg")
        strong Imran Ismail is the governor of one of the largest provinces in Pakistan, which includes the capital city of Karachi. In mid-April 2020, he consulted with our team about COVID policy in his province.  
        span He was interested in understanding the progress of COVID in his province. (Stock photo taken from internet)
        br
        br
        p Besides for our mask advocacy, which was promoted by famous celebrities and featured in Pakistan's largest #[a(href="https://images.dawn.com/news/1185249") newspapers], we delivered over 100,000 masks to citizens of Pakistan's densely populated capital, Karachi. 
        img(class="fit", src="images/maskbanao-group.png")
        br
        br
        h2 What I Learned
        p One thing I learned is that in a time of crisis, even small folks like my friends and I can do a lot to help. To be clear, the first wave of COVID missed Pakistan (this is when we were most active). Then the Delta variant came and Pakistan had a lot of trouble. Lesson for next time? Advocacy is important, but so is timing.
        p Our small team was not very well connected. We were just college students. We didn't have any particular influence in Pakistan, except that one team member was born there. But what we did have was the willingness to put in 16 hour days for months on end to make a project happen. With that kind of determination, small people like us can do our part to help.
        br
        br

        
  div.footer
//-        p Since then, I've co-founded their International Math Olympiad (IMO) team. Over eight years, I've supplied more than 20 mentors including AI researchers at Facebook, mathematics PhDs at Stanford, and machine learning engineers from MIT.

//-        img(class="fit", src="images/jesse-suit.png")
//-        p Jesse Phillips is a software engineer at Google. He organized a coding workshop reaching over 400 people in West Africa (Code-Afrique), in partnership with Cornell University.
//-        img(class="fit", src="images/ghana-imo-team.jpg")
//-        img(class="fit", src="https://misemaths.files.wordpress.com/2021/07/123456-1.jpg")
//-        p These alumni each credit MISE for their success, and for their acceptance into college in the United States. Other alums have gone on to work at e-commerce startups in Zimbabwe, win scholarships at MIT, work at Google, and more.
//-        p Together with our friends, we built a professional #[a(href="https://www.maskbanao.com") website] from scratch in 8 hours demonstrating the dangers of COVID, and instructing people how to make masks at home. Since Pakistan is a textile country, there would be lots of raw cloths for home-made masks. We named our team #[a(href="https://www.maskbanao.com") MaskBanao], meaning Masks for All in the Pakistani language Urdu.
//-        br
