extends layout

block content
  div.container
    div.row
      div(class="col-lg-8 offset-lg-2")
        h1(style="text-align:center") Masks for All in Pakistan (#[a(href="www.maskbanao.com") www.maskbanao.com])
        br
        h3(style="text-align:center") Raising Pakistan's mask prevalence from zero to widespread.
        //h3(style="text-align:center") A Mask Creation and Wearing Campaign in Pakistan.
        //img(class="fit center-me", style="width:64%", src="images/maskbanao1.png")
        img(class="fit center-me", style="max-height: 45vh", src="images/ayesha-mask-1.jpg")
        br
        p MaskBanao is a project built by a small group of students aiming to bring Pakistan's mask-wearing prevalence from zero to widespread.  When none of Pakistan's 220 million people were wearing a mask, MaskBanao partnered with Pakistan's provincial governors and famous celebrities to promote universal mask wearing.
        p What started out as a Pakistani friend and I discussing COVID in a dorm room, grew to be a mask making and wearing campaign that included dozens of designers, artists, government officials, and web developers from Pakistan to the Philippines to Croatia. Our campaign talked to the governor of a Pakistani province containing 50 million people, created celebrity-backed mask videos that reached a hundred thousand, and delivered over 120,000 masks to citizens of Pakistan.
        p Our mission was to educate people all over Pakistan to save lives by creating masks at home. A simple mask can be made from a T-shirt. 
        // When we started, no one in Pakistan wore a mask. What started as a small idea grew into a team of over 35 students and professionals from 8 different countries.   
      div.row(style="margin-bottom: 0.5cm")
        div(class="col-lg-8 offset-lg-2")
          img(class="fit center-me", src="images/omar.jpg")
        //div(class="col-lg-4 col-md-6")
          //img(class="fit", style="max-height: 45vh", src="images/ayesha-mask-1.jpg")
        div(class="col-lg-8 offset-lg-2")
            strong Ayesha Omar is one of Pakistan's most famous actresses. 
            span In the video below, she partnered with MaskBanao to teach her 4.5 million instragram followers how to make a mask at home.
      iframe(class="col-lg-8 offset-lg-2", height="350vh", src="https://www.youtube.com/embed/t4lGktLsKm0")
      div(class="col-lg-8 offset-lg-2" style="margin-bottom:2cm")
        //strong In a video collaboration with MaskBanao, Ayesha Omar teaches her 4.5 million instagram followers how to make a home-made mask.
        //- 
          div.row(style="margin-bottom: 1cm")
            div(class="col-lg-4 col-md-6 offset-lg-2")
              img(class="fit", style="max-height: 45vh", src="images/kiani.jpg")
            div(class="col-lg-4 col-md-6")
              img(class="fit", style="max-height: 45vh", src="images/hadiqa-mask.png")
            div(class="col-lg-8 offset-lg-2")
              strong Hadiqa Kiani is Pakistan's first female Goodwill ambassador to the United Nations. 
              span In this #[a(href="https://www.facebook.com/watch/?v=233459321239553") video] produced with Maskbanao, she urges Pakistanis to wear masks.
        div(class="col-lg-8 offset-lg-2" style="margin-top: 1cm")
        p Besides for celebrity advocacy, we also discussed COVID strategy with Pakistani governors. By reaching out to our distant connections, our small team arranged a meeting in mid-April 2020 with the governor of Pakistan's most populous province to advise him on coronavirus policy. We later worked with more government officials, including technology advisers to the Prime Minister of Pakistan.  The Pakistani government eventually issued a mask order during the first wave of the pandemic.
        p MaskBanao was featured in Pakistan's largest #[a(href="https://images.dawn.com/news/1185249") newspapers], including BBC.
        br
        strong Learn more about us at #[a(href="https://www.maskbanao.com") www.maskbanao.com].
        br
        br
        h3(class="center-text") Get Involved
        p MaskBanao is no longer active at the time of writing. However, if you would like to learn about similar, ongoing global initiatives, please email me #[a(href="mailto:timothyzchu@gmail.com") timothyzchu [at] gmail [dot] com] to have a friendly chat!
        br
        img(class="fit center-me", style="width:50%", src="images/hadiqa-mask.png")
        strong Hadiqa Kiani is Pakistan's most famous female singer. 
        span She worked with MaskBanao to produce the first celebrity mask advocacy video in all of Pakistan early in the pandemic.
        br
        br
        img(class="fit center-me", style="width:60%", src="images/viccaji-2.png")
        strong Pakistani singer-songwriter Zoe Viccaji urges her 52,000 instagram followers to wear a mask, in collaboration with MaskBanao.
        //img(class="fit center-me", style="width:60%", src="images/maskbanao3.png")
        br
        br
        br
  div.footer
