extends layout

block content
  div.container
    h1(style="text-align:center") Projects
  div.container
    div.row
      div(class="col-lg-6")
        div(class="img-container")
          a(href="ghana-math" class="plain")
            div.row
              div(class="col-lg-6 col-md-5")
                div(class="img-container")
                    img(class="fit" src="https://misemaths.files.wordpress.com/2021/07/123456-1.jpg")
              div(class="col-lg-6 col-md-7")
                h3  Math Lessons in Ghana
                p(style="font:15px") Identifying and nurturing Africa's top technical talent. #[span(style="color:blue; text-decoration:underline") Read more.]
            div(class="overlay")


                
      div(class="col-lg-6")
        div(class="img-container")
          a(href="trump" class="plain")
            div.row
              div(class="col-lg-6 col-md-5")
                img(class="fit", src="images/trump-bet1.png")
              div(class="col-lg-6 col-md-7")
                h3 Predicting Trump 2016
                p(style="font:15px") Interviewing a hundred Trump supporters pre-election.   #[span(style="color:blue; text-decoration:underline") Read more.]
            div(class="overlay")

      div(class="col-lg-6")
        div(class="img-container")
          a(href="mask-banao" class="plain")
            div.row
              div(class="col-lg-6 col-md-5")
                  img(class="fit", src="images/viccaji-2.png")
              div(class="col-lg-6 col-md-7")
                h3 Masks for All in Pakistan
                p Bringing Pakistan's mask prevalence from zero to widespread. #[span(style="color:blue; text-decoration:underline") Read more.]
            div(class="overlay")

      div(class="col-lg-6")
        div(class="img-container")
          a(href="covid" class="plain")
            div.row
              div(class="col-lg-6 col-md-5")
                img(class="fit", src="images/covid.jpg")
              div(class="col-lg-6 col-md-7")
                h3 NOVID Pandemic Radar
                p Building the first pandemic radar app in the world, in use by major US universities and cities. #[span(style="color:blue; text-decoration:underline") Read more.]
            div(class="overlay")



      div(class="col-lg-3 col-md-5")
        div(class="img-container")
          a(href="code-ghana")
            img(class="fit", src="images/code-woman.jpg")
            div(class="overlay")
      div(class="col-lg-3 col-md-7")
          h3 Coding Classes in Ghana
          p Creating the best online coding lessons in Africa.

      div(class="col-lg-3 col-md-5")
        img(class="fit", src="images/ethiopia-food.png")
      div(class="col-lg-3 col-md-7")
        h3 A Community Lunch Promoting Science in Ethiopia
        p How I got 3000 dollars stuck in Ethiopia and chose to let an Ethiopian student of mine spend it.

      div(class="col-lg-3 col-md-5")
        img(class="fit", src="images/alphasheet-python.png")
      div(class="col-lg-3 col-md-7")
        h3 Alphasheets: One Sheet to Rule Them All
        p Building the first spreadsheet that supports Python and other programming language commands directly in-sheet.
  div.footer
//Hover overlay card.
//div(class="col-lg-6")
//  div(class="img-container")
//    a(href="trump" class="plain")
//      div.row
//        div(class="col-lg-6 col-md-5")
//          div(class="img-container")
//              img(class="fit", src="images/trump-bet1.png")
//        div(class="col-lg-6 col-md-7")
//          h3 Predicting Trump 2016
//          p(style="font:15px") Interviewing a hundred Trump supporters pre-election.
//      div(class="overlay")
// Box-Shadow card
//      div(class="col-lg-6")
//        div(class="box")
//          a(href="covid" class="plain")
//            div.row
//              div(class="col-lg-6 col-md-5")
//                a(href="covid")
//                  img(class="fit", src="images/covid.jpg")
//              div(class="col-lg-6 col-md-7")
//                h3 NOVID Pandemic Radar
//                p Building the first pandemic radar app in the world, in use by major US universities and cities. #[span(style="color:blue; text-decoration:underline") Read more.]
