extends layout

block content
  div.container
    div.row
      p 
      br
      br
      div(class="col-lg-8")
        p Send me DogeCoin at timothyzchu [at] gmail [dot] com.

//-          img(class="fit", src="images/roni-edwin-2.jpg")
//    div.content
//      table.table.table-striped
//        thead
//          tr
//            th Table
//            th Heading
//        tbody
//          tr
//            td Blah
//            td Test
//          tr
//            td Hello
//            td World
//      div(class="col-lg-4 col-md-6")
//        img(class="fit", src="images/novid2.jpeg")
  div.footer
