extends layout

block content
  div.container
    div.row
      div(class="col-lg-6 col-md-10 offset-lg-3 offset-md-1")
        br
        h1(style="text-align:center") Election Betting in 2016
        br
        h4(style="text-align:center") Betting thousands of dollars on Trump in 2016 after deep-dive interviewing a hundred Trump supporters.
        img(class="fit", src="images/trump-rally-1.jpg")
        h4(style="text-align:center") Under construction.
        br
  div.footer
