extends layout

block content
  div.container
    div.row
      p 
      br
      br
      div(class="col-lg-12")
        div(class="col-lg-7 offset-lg-2" style="font-size: 18px")
          h1(class="offset-lg-3") What's Cooking
          ul
            li An online math circle for developing countries (from Ghana to Pakistan).
            br
            li Digital coordination of typhoon relief in the Philippines.
            br
            li Web services for a Philippine industrial park. This industrial park aims to bring manufacturing to a province of 1 million people in the Philippines, and I'm researching and prototyping web services to help the manufacturing firms acquire material and labor.
          p If any of these interest you, please email me at timothyzchu [at] gmail [dot] com.  I'd love to chat and connect.

          

//-          img(class="fit", src="images/roni-edwin-2.jpg")
//    div.content
//      table.table.table-striped
//        thead
//          tr
//            th Table
//            th Heading
//        tbody
//          tr
//            td Blah
//            td Test
//          tr
//            td Hello
//            td World
//      div(class="col-lg-4 col-md-6")
//        img(class="fit", src="images/novid2.jpeg")
  div.footer
