.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-height: 100%;
  max-width: 100%;
}

.fit{
  top: 0;
  max-height: 100%;
  max-width: 100%;
  margin-bottom: 6px;
}

.cline{
  text-decoration:underline;
  text-align:center;
}

.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-height: 100%;
  max-width: 100%;
}

div{
  font-size: 20px;
}

fbig{
  font-size: 30px;
}

