.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-height: 100%;
  max-width: 100%;
}

.fit{
  top: 0;
  max-height: 100%;
  max-width: 100%;
  margin-bottom: 6px;
}

.cline{
  text-decoration:underline;
  text-align:center;
}

.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-height: 100%;
  max-width: 100%;
}

div{
  font-size: 22px;
  font-family: "Open Sans";
}

fbig{
  font-size: 30px;
}

.center-text{
  text-align:center;
}
.center-me{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.img-container{
  position:relative;
  display:inline-block;
}
.img-container .overlay{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgb(0,0,0, 0.7);
  opacity:0;
  transition:opacity 500ms ease-in-out;
}
.img-container:hover .overlay{
  opacity:1;
}
.overlay span{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color:#fff;
  font-family: "Open Sans";
}
